
/*      Start Reset       */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    width: 75%;
    margin: auto;
    font-size: 20px;
    font-family: 'Arial', Sans-serif;
}

/*       End Reset        */


/*      Start Header      */

header{
    text-align: center;
    background-color: #1050d463;
    height: 320px;
    padding: 10px;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin-top: 10px ;
    padding-bottom: 10px;
    opacity: .8;
    transition: 2s all ease;
}

header img:hover{
    border-radius: 10%;
    transition: 2s all ease;
    opacity: 1;
}

header h1{
    padding: 10px;
}

header h1:hover{
    color:#EEE; 
}

header > p{
    padding-bottom: 15px;
    border-bottom: 3px solid #000;
    text-shadow:3px 3px 5px #FFFFFF;
    font-style:italic;
}

header div p{
    font-size: 15px;
    display: inline;
    float: left;
    width: 33%;
    padding-top: 10px;
    margin-bottom: 10px;
    text-shadow:3px 3px 7px #FFF;
    font-style:italic;
}

/*      End Header    */


/*      Start Profile & Education & Work    */

.profile{
    padding: 25px;
}

.about{
    text-align: center;
}

.profile h2{
    padding:20px 10px 10px 0;
    display:inline-block;
}

.profile h2:hover{
    color:#1050d463; 
}

.profile p{
    line-height: 30px;
    font-size: 16px;
    margin: 10px;
}

.education ul,
.work ul{
    list-style:none;
}

.education ul li,
.work ul li{
    font-style:italic;    
}

/*      End Profile & Education & Work   */


/*      Start Skills   */

.skills-hobbies{
    margin-top: 10px;
    padding: 0px;
}

.skills-hobbies h2{
    margin: 10px 0 40px 0;
    text-align: center;
}

.skills-hobbies h2:hover{
    color:#1050d463; 
}

.skills-container{
    height: 100vh;
    border: 2px solid #000;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
}

.skills-container .skills{
    align-self:flex-start;
}

.skills-container .hobbies{ 
    align-self:flex-end;
}
 
.skills-container .skills,
.skills-container .hobbies {
    width: 250px;
    height: 250px;
    background-color: #1050d463;
    opacity:.5;
    transition: 1s all ease-in-out;
}

.skills-container .language,
.skills-container .courses{
    width: 250px;
    height: 250px;
    background-color: #1050d463;
    align-self:center;
    opacity:.5;
    transition: 1s all ease-in-out;
}

.skills:hover,
.language:hover,
.courses:hover,
.hobbies:hover{
    transition: 1s all ease-in-out;
    opacity:1;
    border-radius: 20%;
}

.skills-container h3{
    margin: 40px 0 20px 10px;
}

.skills-container ul{
    list-style:none;
}

.skills-container ul li {
    text-align: center;
    line-height: 30px;
}

/*      End Skills   */


/*    Start Footer   */

footer{
    background-color:#1050d463;
    height: 60px;
}

footer p{
    text-align: center;
    padding-top: 20px;
}

footer p:hover{
    color:#FFF;
}

/*    End Footer     */
